a {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  background-color: #000000;
  padding: 20px;
  margin: 0px;
  text-align: left;
}

footer {
  text-align: center;
  width: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
  padding: 50px;
  font-size: 16px;
}

a:hover {
  color: rgba(190, 78, 229, 1);
}
