a {
  color: $text-color;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a:hover {
  color: $accent-color;
}

footer {
  text-align: center;
  width: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: $primary-color;
  color: white;
  padding: 40px;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
}

p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: $text-color;
  font-weight: 400;
}

a {
  color: $text-color;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a:hover {
  color: $accent-color;
}

h1 {
  color: $text-color;
  font-size: 40px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  color: $text-color;
  font-size: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 26px 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border: 1px solid $text-color;
  background-color: $background-color;
  color: $text-color;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

input[type="submit"] {
  max-width: 235px;
  margin-top: 40px;
  background-color: $accent-color;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

a {
  color: $text-color;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

footer {
  text-align: center;
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: $primary-color;
  color: white;
  padding: 40px 0;
  font-size: 16px;
}
