$primary-color: #000000;
$accent-color: #be4ee5;
$background-color: #121417;
$text-color: #ffffff;

// the screen size at which the page switches to mobile view
$mobile-screen-size: 1100px;
// the size at which the contact form switches to mobile view
$contact-form-mobile-size: 900px;
