body {
  margin: 0;
  padding: 0;
  background-color: rgba(18, 20, 23, 1);
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a:hover {
  color: rgba(190, 78, 229, 1);
}

.navbar {
  background-color: #000000;
  height: 81px;
  margin: 0px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.max-w-532px {
  max-width: 532px;
}

.shrink-0 {
  flex-shrink: 0;
}

.gap-4 {
  gap: 4rem;
}

.gap-9 {
  gap: 36px;
}

.color-gray {
  color: #b3b3b3;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.contact-link {
  margin-left: auto;
  margin-right: 30px;
}

.projects-link {
  margin-right: 45px;
  margin-left: 0px;
}

.name-link {
  margin-right: auto;
  margin-left: 45px;
}

footer {
  text-align: center;
  width: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
  padding: 40px;
  font-size: 16px;
}

.projects {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;

}

.projImg1 {
  flex: 1;
  margin: 3%;
  margin-right: 0%;
  margin-top: 0px;
  height: 314px;
  position: relative;
  overflow: hidden;

}

.projImg2 {
  flex: 1;
  margin: 3%;
  margin-top: 0px;
  margin-right: 0%;
  height: 314px;
  position: relative;
  overflow:hidden;
}

.projImg3 {
  flex: 1;
  margin: 3%;
  margin-top: 0px;
  margin-right: 0%;
  height: 314px;
  position: relative;
  overflow: hidden;
}

.imgBanner {
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, );
  color: white;
  background-color: #000000;
  padding: 10px;
  justify-content: left;
  padding-right: 77px;
  text-align: left;
  font-size: 12px;
  opacity: 75%;
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width:max-content;
}

.titleBanner {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
}


.projTitle {
  color: #ffffff;
  font-size: 40px;
  margin-left: 12%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  
  .projects {
    flex-direction: column;
    overflow: hidden;
    margin-left:10%;
    justify-content: center;
  }
  
  .imgBanner {
    
  }
  .projTitle,
  .projImg1,
  .projImg2,
  .projImg3 {
    flex: 1;
    overflow: hidden;
    margin-bottom: 37px;
    

  }
}
